@model QL_BanDoAn.Models.Price

@{
    ViewBag.Title = "Edit Price";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 class="text-center">Edit Price</h2>

<div class="container">
    @using (Html.BeginForm("Edit", "Prices", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.HiddenFor(model => model.Id)
            <label class="control-label">Value:</label>
            @Html.TextBoxFor(model => model.Value, new { @class = "form-control" })
        </div>
        <!--Thêm các trường khác nếu cần thiết-->

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="/Prices/" class="btn btn-default">Cancel</a>
        </div>
    }
</div>
